<header>
    <div>
      <a class="logo" href="#">Home</a>
    </div>
    <div>
      <a class="btn register" href="/users/register">Register</a>
      <a class="btn login" href="/users/login">Login</a>
    </div>
  </header>