<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/common.css">
  <style>
    h1{
      text-align: center;
      color: rgb(58, 148, 164);
      font-size: 48px;
      font-weight: 600;
    }
    .btn{
      padding: 10px;
      background-color: rgb(45, 143, 45);
      color: white;
      font-size: 20px;
      font-weight: 600;
      border-radius: 10px;
      margin-right: 20px;
    }   
  </style>
</head>
<body>
  <%- include('partials/header.ejs') %>.
  <h1>Login Successful</h1>
  <div>
    <a class="btn" href="/users/logout">Logout</a>
  </div>
</body>
</html>  
