<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/common.css">
  <link rel="stylesheet" href="/stylesheets/register.css">
</head>
<body>
  <%- include('partials/header.ejs') %>.
  <form action="/users/register" method="post">
    <h1>Register User</h1>
    <% if(err) { %>
      <p class="check"><%= err %></p>
    <% } %>
    <input type="text" name="username" placeholder="Enter Your Name">
    <input type="text" name="email" placeholder="Enter Your email">
    <input type="password" name="password" placeholder="Enter Your password">
    <input type="submit" value="Register User">
  </form>
</body>
</html> 